In [60]:
import pandas as pd
import numpy as np

Patient_Data=pd.read_csv("C:/projects/Hospital_data_analysis/project/Hospital_data.csv")

display(Patient_Data)

,PatientID,Name,Age,Gender,VisitDate,SugarLevel,BP,Cholesterol,Diagnosis
0,P062,Carlos S.,79,M,2024-05-30,196,137/77,179,Hypertension
1,P122,Logan R.,49,M,2024-04-21,178,180/81,192,Pre-Diabetes
2,P030,Ava R.,72,F,2024-05-19,165,133/77,166,General Examination
3,P056,Noah Z.,21,F,2024-05-26,148,135/88,214,High Cholesterol
4,P180,Aisha T.,86,F,2024-04-25,138,146/87,151,Type 2 Diabetes
...,...,...,...,...,...,...,...,...,...
995,P177,Priya T.,34,M,2025-01-27,96,136/85,154,Pre-Diabetes
996,P007,Mason T.,20,F,2024-02-13,163,129/77,224,General Examination
997,P122,Logan R.,49,M,2024-08-01,70,151/87,198,Type 2 Diabetes
998,P168,Ava G.,19,F,2024-01-31,70,130/86,178,Healthy Checkup
999,P199,Aisha S.,18,M,2024-02-27,131,123/84,100,General Examination

In [61]:
Patient_Data.info()
Patient_Data.head()
Patient_Data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PatientID    1000 non-null   object
 1   Name         1000 non-null   object
 2   Age          1000 non-null   int64
 3   Gender       1000 non-null   object
 4   VisitDate    1000 non-null   object
 5   SugarLevel   1000 non-null   int64
 6   BP           1000 non-null   object
 7   Cholesterol  1000 non-null   int64
 8   Diagnosis    1000 non-null   object
dtypes: int64(3), object(6)
memory usage: 70.4+ KB

              Age   SugarLevel  Cholesterol
count  1000.00000  1000.000000  1000.000000
mean     53.51300   129.968000   201.847000
std      22.62175    33.728721    39.502076
min      18.00000    70.000000   100.000000
25%      32.00000   105.000000   176.000000
50%      55.00000   129.000000   202.000000
75%      75.00000   153.000000   229.000000
max      89.00000   223.000000   318.000000

In [62]:
Patient_Data.drop_duplicates()

,PatientID,Name,Age,Gender,VisitDate,SugarLevel,BP,Cholesterol,Diagnosis
0,P062,Carlos S.,79,M,2024-05-30,196,137/77,179,Hypertension
1,P122,Logan R.,49,M,2024-04-21,178,180/81,192,Pre-Diabetes
2,P030,Ava R.,72,F,2024-05-19,165,133/77,166,General Examination
3,P056,Noah Z.,21,F,2024-05-26,148,135/88,214,High Cholesterol
4,P180,Aisha T.,86,F,2024-04-25,138,146/87,151,Type 2 Diabetes
...,...,...,...,...,...,...,...,...,...
995,P177,Priya T.,34,M,2025-01-27,96,136/85,154,Pre-Diabetes
996,P007,Mason T.,20,F,2024-02-13,163,129/77,224,General Examination
997,P122,Logan R.,49,M,2024-08-01,70,151/87,198,Type 2 Diabetes
998,P168,Ava G.,19,F,2024-01-31,70,130/86,178,Healthy Checkup
999,P199,Aisha S.,18,M,2024-02-27,131,123/84,100,General Examination

In [63]:
Patient_Data.to_csv("Hospital_data_Cleaned.csv", index=False)
print("csv file saved successfully")

csv file saved successfully

In [64]:
import sqlite3

conn = sqlite3.connect("hospital.db")
cursor = conn.cursor()

cursor.execute("""
CREATE TABLE IF NOT EXISTS patients (
    PatientID VARCHAR,
    Name TEXT,
    Age INTEGER,
    Gender TEXT,
    VisitDate VARCHAR,
    Cholesterol INTEGER,
    SugarLevel INTEGER,
    diagnosis TEXT
);
""")

conn.commit()

In [65]:
Conn = sqlite3.connect("hospital.db")
Patient_Data.to_sql("patients", conn, if_exists="replace", index=False)
conn.close()

print("Data inserted successfully!")

Data inserted successfully!

In [66]:
conn = sqlite3.connect("hospital.db")
columns = pd.read_sql_query("PRAGMA table_info(patients);", conn)
print(columns)
conn.close()

   cid         name     type  notnull dflt_value  pk
0    0    PatientID     TEXT        0       None   0
1    1         Name     TEXT        0       None   0
2    2          Age  INTEGER        0       None   0
3    3       Gender     TEXT        0       None   0
4    4    VisitDate     TEXT        0       None   0
5    5   SugarLevel  INTEGER        0       None   0
6    6           BP     TEXT        0       None   0
7    7  Cholesterol  INTEGER        0       None   0
8    8    Diagnosis     TEXT        0       None   0